{% extends "base.html" %}
{% block content %}

   <h3 class="green-text text-darken-4 center-align">Add Meal</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_meal') }}">

                <!--meal name-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix green-text text-darken-4"></i>
                        <input id="meal_name" name="meal_name" minlength="3" maxlength="50"
                            type="text" class="validate" required>
                        <label for="meal_name">Meal Name</label>
                    </div>
                </div>

                <!--Ingredients-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix green-text text-darken-4"></i>
                        <textarea id="meal_ingredients" name="meal_ingredients" minlength="5"
                            maxlength="500" class="materialize-textarea validate" required></textarea>
                        <label for="meal_ingredients">Meal Ingredients</label>
                    </div>
                </div>
                
                <!--Instructions-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix green-text text-darken-4"></i>
                        <textarea id="meal_instructions" name="meal_instructions" minlength="5"
                            maxlength="500" class="materialize-textarea validate" required></textarea>
                        <label for="meal_instructions">Meal Instructions</label>
                    </div>
                 </div>
                    <!--submit button-->
                <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Meal <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}