{% extends "base.html" %}
{% block content %}

    <h2></h2>

    {% for meals in meals %}
        {{ meals.meal_1 }}<br>
        {{ meals.meal_2 }}<br>
        {{ meals.meal_3 }}<br>
        {{ meals.meal_4 }}<br>
        {{ meals.meal_5 }}<br>
        {{ meals.meal_6 }}<br>
        {{ meals.meal_7 }}<br>
        
    {% endfor %}

    <ul class="collapsible">
        {% for meal in meals %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-caret-down"></i>
                {{ meal.name }}
            </div>
            <div class="collapsible-body">
                <span>Ingredients</span> {{ meal.ingredients }}
                <span>Instructions</span> {{ meal.instructions }}
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}