{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for meals in meals %}
        <li>
            <div class="collapsible-header">
                <i class="fas fa-caret-right"></i>
                {{ meals.name }}
            </div>
            <div class="collapsible-body">
                <strong>Ingredients</strong> {{ meals.ingredients }} <br>
                <strong>Instructions</strong> {{ meals.instructions }}
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}